{{template "adminpage.html" .}}
{{define "admincontent"}}
    <section class="section">
        <table class="table is-fullwidth is-hoverable" id="dataTable">
            <thead>
            <tr>
                <th>Upvotes</th>
                <th>Downvotes</th>
                <th>Text</th>
                <th>Comment type</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Upvotes</th>
                <th>Downvotes</th>
                <th>Text</th>
                <th>Comment type</th>
            </tr>
            </tfoot>
            <tbody>
            {{range $key, $val := .Data.Records}}
                <tr>
                    <td>{{$val.Upvotes}}</td>
                    <td>{{$val.Downvotes}}</td>
                    <td>{{$val.Text}}</td>
                    <td>{{$val.CommentType}}</td>
                    <td>
                        <a href="/comment/comments/{{$val.Key}}" class="btn btn-primary">View</a>
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>
        {{template "pager.html" .Data}}
    </section>
{{end}}