{{template "layout.html" .}}
{{define "mainlayout"}}
    <section class="section">
        <table class="table is-fullwidth is-hoverable" id="dataTable">
            <thead>
            <tr>
                <th>Upvotes</th>
                <th>Downvotes</th>
                <th>Text</th>
                <th>Comment type</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Upvotes</th>
                <th>Downvotes</th>
                <th>Text</th>
                <th>Comment type</th>
            </tr>
            </tfoot>
            <tbody>
            {{if .Data.Records}}
                {{range .Data.GetRecords.ToSlice}}
                    {{$v := .GetValue}}
                    {{$k := .GetKey}}
                    <tr>
                        <td>{{$v.Upvotes}}</td>
                        <td>{{$v.Downvotes}}</td>
                        <td>{{$v.Text}}</td>
                        <td>{{$v.CommentType}}</td>
                        <td>
                            <a href="/comments/{{$k}}" class="btn btn-primary">View</a>
                        </td>
                    </tr>
                {{end}}
            {{end}}
            </tbody>
        </table>
        {{template "pager.html" .Data}}
    </section>
{{end}}